body{
    font-family: 'Roboto';
}
h1{
    font-size: 50px;
    text-align: center;
}
.card{
    border: 0px;
    align-content: center;
}

.title{
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
}

#password{
    border: dashed;
    height: 100px;
    max-width: 80%;
    text-align: center;
    margin: 20px;
    
}
